.container {
  padding-left: var(--size-gutter-raw);
  padding-right: var(--size-gutter-raw);
  padding-top: var(--space-lg);
  padding-bottom: var(--space-3xl);
  max-width: 140ch;
}

.intro {
  padding-bottom: var(--space-lg);
  line-height: var(--dense);
  font-size: var(--text-xl);
  color: var(--text-color-secondary);
  font-weight: 400;
}

.callOut {
  padding-bottom: var(--space-lg);
  font-size: var(--text-lg);
  font-weight: 500;
  line-height: var(--default);
  letter-spacing: var(--tight);
  color: var(--text-color-secondary);
}

@media (min-width: 640px) {
  .callOut {
    font-size: var(--text-display);
  }
}
