.container {
  padding-left: var(--size-gutter-raw);
  padding-right: var(--size-gutter-raw);
  padding-top: var(--space-lg);
  padding-bottom: var(--space-3xl);
  max-width: 140ch;
}

.intro {
  padding-bottom: var(--space-lg);
  line-height: var(--dense);
  font-size: var(--text-display);
  color: var(--text-color-secondary);
  font-weight: 400;
}

.callOut {
  padding-bottom: var(--space-lg);
  font-size: var(--text-display);
  font-weight: 600;
  line-height: var(--default);
  letter-spacing: var(--tight);
  color: var(--text-color-secondary);
}

.callOut > strong {
  text-decoration: underline;
}
