.addToCart {
  color: var(--text-color-inverted);
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-md);
  font-weight: var(--bold);
  height: var(--size-input);
  font-size: large;
}

.addToCart:hover {
  background-color: #ffd481;
}

.youSave {
  grid-column: 2;
  display: flex;
  justify-content: center;
  color: var(--blue-80);
}
