.title {
  font-size: var(--text-display);
  font-weight: var(--bold);
  margin: 0;
  padding: var(--space-2xl) var(--size-gutter-raw) var(--space-2xl);
}

.subtitle {
  font-size: 1.2rem;
  margin: 0;
  padding: var(--space-2xl) var(--size-gutter-raw) var(--space-2xl);
  max-width: 1640px;
}
