.title {
  font-weight: var(--semibold);
  line-height: var(--solid);
  padding-bottom: var(--space-md);
  color: var(--blue-80);
}

.variant {
  font-size: var(--text-md);
  text-transform: capitalize;
  padding-bottom: var(--space-sm);
}

.remove button {
  font-size: var(--text-md);

  display: inline-flex;
  align-items: center;
}

.remove button svg {
  margin-right: var(--space-md);
}

.totals {
  text-align: right;
}

.priceColumn,
.totals {
  display: none;
}

.imageWrapper {
  width: 160px;
  height: 160px;
  border-radius: 4px;
  object-fit: contain;
}

@media (min-width: 640px) {
  .priceColumn,
  .totals {
    display: block;
  }

  .sale {
    color: var(--yellow-80);
  }

  .title {
    font-size: var(--text-2xl);
  }

  .oldSubTotal,
  .oldPrice {
    text-decoration: line-through;
  }
}

@media (max-width: 1000px) {
  .imageWrapper {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 640px) {
  .imageWrapper {
    height: 60px;
  }
}
